.GUI{
    display: block;
    height: 700px;
    width: 400px;
    background: linear-gradient(to top left, powderblue, pink);

}
.button{
    height: 30px;
    width: 100px;
    border: 1px;
    background-color: #fffb00;
}

.true_result{
    background-color: chartreuse;
}
.false_result{
    background-color: red;
}